node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
Dockerfile
.dockerignore
docs
.coverage
.vscode
.idea
*.md
*.log
.nyc_output
coverage
.parcel-cache
.cache
dist
build
*.tgz
*.zip
.DS_Store
Thumbs.db